<section class="container">
<section class="privacidad">
  <br></br>
  <h2>Pol&iacute;tica de Protecci&oacute;n de Datos de Noistter</h2>
  <p>Noistter conecta instant&aacute;neamente a personas de todo el mundo con aquello que m&aacute;s les importa. Cualquier usuario registrado puede enviar un Tuit, es decir un mensaje de 140 caracteres o menos que es p&uacute;blico de forma predeterminada, y que puede incluir otros contenidos como fotos, videos y enlaces a otros sitios web.
  </p>
  <p id='nota'>
    <span>Nota:</span> Lo que se dice en Noistter puede verse en todo el mundo de manera instantánea.
  </p>
  <p>
Esta Política de Protección de Datos describe cómo y cuándo Noistter recoge, utiliza y comparte su información cuando Ud. utiliza nuestros Servicios. Noistter recibe su información a través de nuestros distintos sitios web, SMS, APIs, notificaciones por email, aplicaciones, botones y de nuestros socios y terceros. Por ejemplo, Ud. nos envía información cuando utiliza Noistter desde nuestro sitio web, publica o recibe Tuits a través de SMS o accede a Noistter desde una aplicación. Al utilizar cualquiera de nuestros Servicios Ud. consiente la recogida, cesión, tratamiento, almacenamiento, revelación y otros usos de su información según lo descrito en esta Política de Protección de Datos. Sea cual sea el país en el que reside o desde el que facilita información, Ud. autoriza a Noistter a utilizar su información en España y en cualquier otro país en el que opere Noistter.
Si tiene preguntas o comentarios respecto a esta Política de Protección de Datos, por favor póngase en contacto con nosotros aquí.
  </p>
  <br></br>
  <h3>Recogida y uso de información</h3>
  <p id="nota">
    <span>Nota:</span> Recogemos y utilizamos la información suya que se describe a continuación para proporcionar nuestros Servicios y para medirlos y mejorarlos de manera continua.
  </p>
  <p>
    <b>Información recogida durante el registro:</b> Cuando Ud. crea o reconfigura una cuenta de Noistter, nos facilita información personal tal como su nombre, nombre de usuario, clave de acceso y dirección de email. Parte de esta información, por ejemplo su nombre y nombre de usuario, se hace pública en nuestros Servicios, incluyendo en su página de perfil y en los resultados de búsqueda. Algunos Servicios, como la búsqueda, los perfiles públicos de usuario y las listas de vista, no requieren registrarse.
  </p>
  <p>
    <b>Información adicional:</b> Puede que Ud. nos facilite información de perfil para hacerla pública, tal como una breve biografía, su ubicación, su sitio web o una fotografía. Puede que Ud. nos facilite información para personalizar su cuenta, por ejemplo un número de teléfono móvil para el envío de mensajes SMS. Podríamos usar tu información de contacto para enviarte información sobre nuestros Servicios o para fines de marketing. Podríamos usar la configuración de tu cuenta para anular la suscripción a las notificaciones de Noistter. También puedes anular la suscripción tú mismo siguiendo las instrucciones incluidas en la notificación o las instrucciones que aparecen en nuestro sitio web. Podemos utilizar su información para ayudar a otros a encontrar su cuenta de Noistter, incluso a través de servicios de terceros y aplicaciones de cliente. La configuración de su privacidad controla que los demás puedan encontrarle a través de su dirección de email o número de teléfono móvil. Puede que Ud. decida cargar su agenda de contactos para que podamos ayudarle a encontrar usuarios de Twitter que conozca. Podemos sugerirle personas a las que seguir en Twitter basándonos en su agenda de contactos importada, la cual puede Ud. borrar de Twitter en cualquier momento. Si nos envía un correo electrónico, podemos conservar su mensaje, dirección de email e información de contacto para contestar a su petición. Si conectas tu cuenta de Twitter con tu cuenta de otro servicio para compartir publicaciones entre Noistter y el otro servicio, dicho servicio podrá enviarnos tu información de registro o de perfil en el servicio, así como cualquier información que autorices. Esta información permite compartir publicaciones, nos ayuda a mejorar los Servicios y se elimina de Noistter unas semanas después de que desconectes de Noistter tu cuenta en el otro servicio. Para saber más, vaya aquí. Facilitar la información adicional descrita en este apartado es absolutamente opcional.
  </p>
  <p>
    <b>Tweets, Gente que sigues, Listas y otra Información pública:</b> Nuestros Servicios están principalmente diseñados para ayudarle a compartir información con el mundo. La mayoría de la información que Ud. nos facilita es información que nos está pidiendo que hagamos pública. Ello incluye no sólo los mensajes que Ud. Twittea y los metadatos facilitados con los Tweets, como los facilitados cuando Ud. ha Twitteado, sino también las listas que Ud. crea, las personas a las que sigue, los Tweets que marca como favoritos o Retwittea, así como muchas otras informaciones que se generan por su uso de los Servicios. Por defecto, nosotros casi siempre publicamos la información que Ud. nos facilita hasta el momento en que Ud. la elimine de Noistter, pero generalmente ponemos a su disposición determinadas configuraciones para hacer dicha información más privada si así lo desea. Su información pública se disemina instantánea y ampliamente. Por ejemplo, su información pública de perfil de usuario y Tweets públicos pueden ser buscados por motores de búsqueda y se entregan inmediatamente a través de SMS y de nuestros APIs a un amplio elenco de usuarios y servicios, por ejemplo la Librería del Congreso de los Estados Unidos, que archiva Tweets con fines históricos. Cuando comparta información o contenido como fotografías, vídeos y enlaces a través de los Servicios, debería reflexionar cuidadosamente sobre aquello que está publicando.
  </p>
  <p>
    <b>Información de ubicación:</b> Puedes publicar tu ubicación en tus Tweets y en tu perfil de Twitter. También puedes indicarnos tu ubicación cuando configures tu ubicación de tendencias en Noistter.com, o permitir que la computadora o el dispositivo móvil nos envíe información de ubicación. Puede establecer sus preferencias sobre ubicación de Tweet en la configuración de su cuenta y conocer más sobre esta función aquí. Aprenda cómo establecer sus preferencias de ubicación móvil aquí. Podemos utilizar y almacenar información sobre su ubicación para proveer determinadas características de nuestros Servicios, como Twittear con su ubicación, y para mejorar y personalizar los Servicios, por ejemplo, con contenido más relevante como tendencias locales, historias, anuncios y sugerencias sobre gente a la que seguir.
  </p>
  <p>
    <b>Enlaces:</b> Noistter puede conservar información sobre cómo Ud. interactúa con enlaces a través de nuestros Servicios, incluidas nuestras notificaciones por email, servicios de terceros y aplicaciones de cliente, redirigiendo clics o por otros medios. Ello se hace con el fin de mejorar nuestros Servicios, proveer publicidad más relevante y poder compartir estadísticas agregadas de clics como por ejemplo cuántas veces se ha pinchado en un determinado enlace.
  </p>
  <p>
    <b>Cookies:</b> Como muchos sitios web, utilizamos cookies y tecnologías similares para recopilar datos adicionales sobre uso del sitio web y para mejorar nuestros Servicios, pero no son necesarias las cookies para muchas partes de nuestros Servicios como las búsquedas o el visionado de listas o perfiles de usuarios públicos. Una cookie es un pequeño archivo de datos que es transferido al disco duro de su computadora. Noistter puede usar tanto cookies de sesión como cookies de persistencia con el fin de entender mejor cómo interactúa Ud. con nuestros Servicios, monitorizar el uso agregado por parte de nuestros usuarios y el enrutamiento de tráfico web en nuestros Servicios, así como personalizar y mejorar nuestros Servicios. La mayoría de navegadores de Internet aceptan cookies automáticamente. Puedes cambiar la configuración de tu navegador para que deje de aceptar cookies o para que te pregunte antes de aceptar una cookie de los sitios web que visitas. Sin embargo, algunos Servicios pueden no funcionar correctamente si deshabilita las cookies. Aprenda más sobre cómo utilizamos cookies y tecnologías similares aquí.
  </p>
  <p>
    <b>Datos de registro:</b> Nuestros servidores registran automáticamente la información ("Datos de registro") que se crea a partir del uso que haces de los Servicios. La Información de Registro puede incluir información como su dirección IP, tipo de navegador, sistema operativo, la página web de procedencia, páginas web visitadas, ubicación, su proveedor de servicios de telefonía móvil, identidad del aparato y de la aplicación, términos de búsqueda e información de cookies. Recibimos Información de Registro cuando Ud. interactúa con nuestros Servicios, por ejemplo, cuando visita nuestros sitios web, se suscribe a nuestros Servicios, interactúa con nuestras notificaciones por correo electrónico, utiliza su cuenta de Twitter para autenticarse ante un sitio web o aplicación de terceros o visita un sitio web de tercero que incluye un botón o widget de Noistter. Noistter utiliza Información de Registro para proporcionar nuestros Servicios y para medirlos, personalizarlos y mejorarlos. Si no se ha hecho con anterioridad, por ejemplo, según se describe a continuación para los Datos de Widgets, borraremos la Información de Registro o eliminaremos identificadores comunes, como por ejemplo su nombre de usuario, su dirección IP completa o su dirección de correo electrónico, al cabo de 18 meses.
  </p>
  <p>
    <b>Datos de Widgets:</b> Podemos personalizar contenido para Ud. con base en sus visitas a sitios web de terceros que integran botones o widgets de Noistter. Cuando dichos sitios web cargan por primera vez nuestros botones o widgets para su visualización, recibimos Información de Registro, incluida la página web que Ud. ha visitado y una cookie que identifica su navegador ("Datos de Widgets"). Después de un máximo de 10 días, empezamos el proceso de borrado o agregación de Datos de Widgets, lo cual es normalmente instantáneo pero en algunos casos puede llevar hasta una semana. Durante el tiempo en el que conservemos los Datos de Widgets, podemos usarlos para personalizar contenido para Ud., como por ejemplo sugerencias sobre gente a la que seguir en Twitter. El contenido personalizado se almacena únicamente con la cookie que identifica su navegador y queda separado de otros Datos de Widgets como la información sobre las páginas web visitadas. Esta función es opcional y no se encuentra disponible todavía para todos los usuarios. Si lo desea, puede suspenderla o desactivarla, lo cual elimina de su navegador la cookie en particular que permite esta función. Puede informarse más acerca de esta función aquí. En relación con los Tweets, Información de Registro y otros datos que recibimos como resultado de la interacción con botones o widgets de Noistter, por favor lea los demás apartados de esta Política de Privacidad.
  </p>
  <p>
    <b>Terceros:</b> Noistter utiliza varios servicios de terceros que le asisten para prestar los Servicios, como el alojamiento de nuestros distintos blogs y wikis, y para entender el uso de nuestros Servicios, como Google Analytics. Estos otros proveedores de servicios pueden recoger información enviada por su navegador como parte de una petición de una página web, como por ejemplo cookies o su dirección IP. Es posible que nuestros socios comerciales compartan información con nosotros, como un ID de cookies del navegador o el hash criptográfico de un identificador de cuenta común (como una dirección de correo electrónico) para ayudarnos a evaluar la calidad de los anuncios y a personalizarlos. Esto nos permite, por ejemplo, mostrar anuncios sobre cosas en las que ya has mostrado interés. Si lo prefieres, puedes desactivar los anuncios personalizados en la configuración de privacidad para que tu cuenta no esté conectada a la información que comparten nuestros socios comerciales para personalizar los anuncios. Obtenga más información sobre esta configuración y la opción adicional No rastrear navegador aquí.
  </p>
  <br></br>

  <h3>Cesión y revelación de información</h3>
  <p id="nota">
    <span>Nota:</span> No revelamos sus datos personales excepto en las limitadas circunstancias descritas a continuación.
  </p>
  <p>
    <b>Su consentimiento:</b> Podemos compartir o revelar su información siguiendo sus instrucciones, como cuando Ud. autoriza a un cliente o aplicación de una web de un tercero a acceder a su cuenta de Noistter.
  </p>
  <p>
    <b>Proveedores de Servicios:</b> Contratamos a proveedores de servicios para llevar a cabo funciones y prestarnos servicios tanto en los Estados Unidos como fuera de ellos. Podemos compartir sus datos personales con dichos proveedores de servicios con arreglo a obligaciones de confidencialidad compatibles con esta Política de Protección de Datos, y a condición de que los terceros utilicen sus datos personales únicamente por nuestra cuenta y conforme a nuestras instrucciones.
  </p>
  <p>
    <b>Normas imperativas y daños:</b> Salvo que se establezca otra cosa en la presente Política de Protección de Datos, podemos conservar o revelar su información si consideramos que es razonablemente necesaria para cumplir con una ley, reglamento o requerimiento legal; para proteger la seguridad de cualquier persona; para tratar problemas de fraude, de seguridad o técnicos; o para proteger los derechos o la propiedad de Noistter. No obstante, lo dispuesto en esta Política de Protección de Datos no pretende limitar cualesquiera defensas u objeciones legales que Ud. pueda tener frente a un requerimiento de un tercero, incluida una administración, para que revele su información.
  </p>
  <p>
    <b>Transferencias entre empresas:</b> En caso de que Noistter se vea afectada por un concurso, fusión, adquisición, reorganización o venta de activos, su información puede ser vendida o transferida como parte de dicha situación. Lo declarado en esta Política de Protección de Datos aplicará a la información que se transfiera a la nueva entidad.
  </p>
  <p>
    <b>Información que no es privada o personal:</b> Podemos compartir o revelar información suya que no sea privada, información agregada y otras informaciones que no constituyan datos personales, como la información pública de su perfil de usuario Tweets públicos, las personas que sigue o que le siguen a Ud. o el número de usuarios que pinchan en un determinado enlace (aunque pinche uno solo).
  </p>
  <br></br>
  <h3>Modificación de su información personal</h3>
  <p>
    Si es Ud. un usuario registrado de nuestros Servicios, ponemos a su disposición herramientas y posibilidades de configuración de cuenta para acceder o modificar la información personal que nos ha facilitado y que se encuentra asociada a su cuenta.
  Ud. también puede dar de baja su cuenta de Noistter de forma permanente. Si sigue las instrucciones aquí, su cuenta será desactivada y a continuación dada de baja. Al desactivar tu cuenta, esta no aparecerá en Noistter.com. En caso de que tu cuenta se desactivara accidentalmente o por error, todavía será posible restaurarla durante los 30 días posteriores a la desactivación. Pasados 30 días, empezaremos el proceso para dar de baja su cuenta de nuestros sistemas, lo cual puede llevar hasta una semana.
  </p>
  <br></br>
  <h3>Nuestra política respecto a los niños</h3>
  <p>
    Nuestros Servicios no se dirigen a personas menores de 13 años. Si Ud. advierte que su hijo nos ha facilitado datos personales sin su consentimiento, por favor póngase en contacto con nosotros en privacy@twitter.com. Nosotros no recopilamos información de niños menores de 13 años de manera consciente. Si llega a nuestro conocimiento que un niño menor de 13 años nos ha facilitado datos personales, hacemos lo necesario para borrar dicha información y para dar de baja la cuenta del niño. Puede consultar información adicional para padres y adolescentes aquí.
  </p>
  <br></br>
  <h3>Acuerdo UE de Puerto Seguro</h3>
  <p>
    Noistter cumple los principios de puerto seguro para la protección de la vida privada, a saber, los de notificación, opción, transferencia ulterior, seguridad, integridad de los datos, acceso y aplicación, suscritos por los Estados Unidos y reconocidos por la Unión Europea y Suiza. Para saber más sobre el programa de Puerto Seguro y para comprobar nuestra certificación, visite el sitio web del Departamento de Comercio de los Estados Unidos.
  </p>
  <br></br>
  <h3>Cambios de esta Política</h3>
  <p>
    Podemos revisar esta Política de Protección de Datos a lo largo del tiempo. La versión más reciente de la Política regulará nuestro uso de su información y estará siempre disponible en <a href="http://noistter.com/privacidad">http://noistter.com/privacidad</a>. En caso de que modifiquemos dicha Política en algún extremo que, a nuestro único entender, sea relevante, se lo notificaremos por medio de una actualización <a href="http://twitter.com/noistter">@noistter</a> o un correo electrónico enviado a la dirección de correo electrónico asociada a su cuenta. Al continuar accediendo o utilizando los Servicios después de la aplicación efectiva de dichos cambios, Ud. consiente quedar obligado por la Política de Protección de Datos revisada.
  </p>
  <p>
    <i>Con efecto en la fecha: 10 de diciembre de 2013</i>
  </p>
</section>
</section>