<%= @status %>
<section class="container">
  <a href="/evento">
    <div class="boardcard item_evento one-third column">
      <img class="scale-with-grid" src="images/herramientas_evento.png">
      <h2>Eventos</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, id reiciendis illum ratione explicabo?</p>
      <a href="/evento" class="btn h45">Seguir un evento</a>
    </div>
  </a>
  <a href="/rss">
    <div class="boardcard item_rss one-third column">
      <img class="scale-with-grid" src="images/herramientas_rss.png">
        <h2>Rss</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, id reiciendis illum ratione explicabo?</p>
        <a href="/rss" class="btn h45">Crear Rss</a>
    </div>
  </a>
  <a href="/widget">
    <div class="boardcard item_widget one-third column">
        <img class="scale-with-grid" src="images/herramientas_widget.png">
        <h2>Widget</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, id reiciendis illum ratione explicabo?</p>
      <a href="/widget" class="btn h45">Generar un widget</a>
    </div>
  </a>
</section>