<div id="jumbo">
		<section class="container">
            <div class="nine columns">
                <p class="subtitle">Porque Internet es demasiado grande</p>
                <h1 class="title">Bienvenido a Noistter</h1>
                <p class="description">Te ayudamos a leer el contenido más relevante de la red. Filtramos Twitter.</p>
                <div class=" social-link">
					<ul>
						<li><a class="twitter" href='#'><span>twitter</span></a></li>
						<li><a class="facebook" href='#'><span>facebook</span></a></li>
						<li><a class="googleplus" href='#'><span>google+</span></a></li>
					</ul>
			 </div>
            </div> 
             <div class="seven columns">
                    <a href="/auth/twitter" class="btn wfull h45 blue">Entrar con Twitter</a>
             </div>
		</section>
</div>
<section class="container">
		<h1 id="noistter">¿Qué es Noistter?</h1>
    <div class="two columns"></div><div class="twelve columns"><img class="scale-with-grid " src="images/simplify.png" /></div><div class="two columns"></div>
    <div class="clearfix"></div> <div class="two columns"></div>
		<div class="six columns">
			<h2>Simplifica Twitter</h2>
            <p>Con Noistter podrás filtrar de manera rápida y eficiente todos tus tuits. Noistter te muestra aquellos tuits que han despertado interés, han generado opiniones y no puedes perderte.</p>
			<p>Dispondrás de todas la funcionalidades de twitter integradas, podrás retwittear, añadir a favoritos y responder tuits desde Noistter.</p>
		</div>
  
   <div class="six columns"><img class="scale-with-grid " src="images/adapt.png" /></div>
  <div class="two columns"></div><div class="clearfix"></div>    
    
        <div class="two columns"></div>
  
		<div class="six columns">
        <h2>Resonancia social</h2>
            <p>Noistter mide la resonancia social de los tuits con enlaces en base al número de interacciones que ha generado, respuestas, favoritos... Hemos creado, con mucho cariño, un algoritmo que calcula la relevancia de un tweet. No solo nostros pensamos que es maravilloso.</p>			
		</div>
        <div class="six columns"><img class="scale-with-grid " src="images/algorithm.png" /></div>
        <div class="two columns"></div><div class="clearfix"></div> 
    
    
        <div class="two columns"></div>
		<div class="six columns">
			<h2>Búsquedas personalizadas</h2>
            <p>Establece el rango temporal sobre el que deseas recolectar los tuits. Puedes buscar entre los tuits de tu timeline, de otro usuario o sobre cualquier tema que te interese. Además, dichas búsquedas quedan muy a mano para que accedas enseguida</p>
		</div><div class="six columns"><img class="scale-with-grid " src="images/search.png" /></div><div class="two columns"></div><div class="clearfix"></div> 
    
    
        <div class="two columns"></div>
		<div class="six columns">
			<h2>Crea tu perfil</h2>
            <p>Regístrate en Noistter y crea tu página de perfil. Podrás escribir tuits, publicar tus búsquedas y mostrar, de manera pública, tus tuits mejor puntuados por la aplicación. No pretendemos que esto sea un concurso, pero sí un reto personal.</p>
		</div>
        <div class="six columns"><img class="scale-with-grid " src="images/profile.png" /></div>
        <div class="two columns"></div><div class="clearfix"></div> 
</section>