<div class="four columns"></div>
<div class="eight  columns">
<h1>Noistter LIVE</h1> 
<h3>Seguimiento de eventos de Youtube</h3> 
</div>
<div class="four columns"></div>
<div class="clear"></div>
<div class="four columns"></div>


<div class="four columns"></div>
<div class="clear"></div>
<div class="four columns"></div>
<div class="eight twcard columns">
  <form action="" style="padding:30px;" id="form_evento">
		<label for="id_video">Introduce el enlace del video de Youtube:</label>
		<input type="text" placeholder="Enlace de Youtube" value="" id="id_video">
    <label for="ht_evento">Introduce el hashtag a seguir:</label>
		<input type="text" placeholder="Hashtag" value="" id="ht_evento">
    <div class="error_form"></div>
    <a id="bt_ver_evento" class="btn h45 right yellow" href="">Seguir evento</a>
    
    </form>
</div>
<div class="four columns"></div>
