<div class="six columns">
	<form action="" id="form_evento">
		<label for="id_video">Introduce el enlace del video de Youtube:</label>
		<input type="text" placeholder="Enlace de Youtube" id="id_video">
		<label for="ht_evento">Introduce el hashtag a seguir:</label>
		<input type="text" placeholder="#" id="ht_evento">
		<a id="bt_ver_evento" class="btn yellow" href="">Seguir evento</a>
	</form>
</div>