<div class="six columns">
	<form action="" id="form_evento">
		<label for="id_video">Introduce el ID del video:</label>
		<input type="text" placeholder="ID video" id="id_video">
		<label for="ht_evento">Introduce el hashtag a seguir:</label>
		<input type="text" placeholder="#" id="ht_evento">
		<a id="bt_ver_evento" href="">Seguir evento</a>
	</form>
</div>