<section class="container">
<h1>Twitter - Noistter</h1>
   
  
  <div class="six columns form-twitter">
    <%= render partial: 'sendtweetform' %>
  </div>
  
  <div class="ten columns timeline_container">
    <%= render partial: 'timeline' %>
  </div> 
</section>



