<section class="container">
  
  <div class="sixteen columns">
    <h2>Nuevo RSS</h2>
  </div>
  <div class="one-third column">
     <select id="rss_tipo">
      <option value="hashtag">Hashtag</option>
      <option value="usuario">Usuario</option>
      <option value="termino">Término</option>
    </select>
  </div>
  <div class="one-third column">
     <input type="text" id="rss_termino" class="" placeholder="Búsqueda">
  </div>
  <div class="one-third column">
    <a href="javascript:void(0)" class="btn yellow  h45 nomargin" id="previa_rss">Vista previa</a>
    <a href="javascript:void(0)" id="btn_guardar_rss" class="btn orange  h45 nomargin" id="guardar_rss"> Guardar RSS </a>
  </div>
  <div id="vista_previa">
    
  </div>
 <!--<div class="sixteen columns">
      <a href="javascript:void(0)" id="btn_guardar_rss" class=" btn center h45 big max300 yellow" id="guardar_rss"> Guardar RSS </a>
  </div>-->
  
  <div class="sixteen columns">
    <h2>Mis RSS</h2>
  </div>
  <div class="all_rss">
    <%= render partial: 'all_rss' %>
  </div>
</section>