<section class="container">
  <div class="sixteen columns">
    <h1>
    Búsqueda: <%=@opcion%><%=@titulo%>
    <% if @no_esta %>
      <%= submit_tag("Guardar búsqueda", id:"guardar_busqueda" , class:"btn min300 right yellow") %>
    <% end %>
    </h1>
  </div>
  <%= render template: "layouts/resultados" %>
</section>