// Place all the styles related to the landpage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*
Colores:

Amarillo - #FFCB0F
Amarillo oscuro - #ebb800
Amarillo hover - #FFD129

Azul - #449adb
Azul oscuro - #338ed4
Azul hover - #4A9FE0

*/


header { background:none; border:none; position:absolute;  }
#logo { font-size:50px; line-height:50px; }

nav ul { float:right; }
nav ul li {  }
header nav a{ color:#fff!important; }

#jumbo { min-height:700px; background:url(../images/jumbo.jpg); padding-top:50px; margin-bottom:50px;  }

#jumbo p, #jumbo h1 { color:#fff; }
#jumbo p { font-size:25px;  margin-top: 10px; margin-bottom:10px; line-height: 30px;}
#jumbo h1 { font-size:65px; margin-top: 10px; margin-bottom:10px; line-height: 80px; margin-left: 0px; }

@media only screen and (max-width: 959px) { 
    .login-container .btn { margin-right: 4.9%;  }
    #jumbo {padding-top:200px; padding-bottom: 30px;  }
}


@media only screen and (max-width: 768px) { }

@media only screen and (max-width: 479px) { }