// Place all the styles related to the widget controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*WIDGET*/
html, body { 
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; 
}

.widget_body { 
  margin: 0; 
  padding: 0; 
  background: none; 
  border-radius: 10px; 
}

body { 
  font: 15px/22px 'Open Sans', Century Gothic, Helvetica, Arial, sans-serif; 
}

.widget_body header  { 
  background: #444;
  color: #fff;
  width: 100%;
  border-radius: 10px 10px 0px 0px;
  padding: 10px;
  box-sizing: border-box;
  position: relative;
  top: 0;
}

.widget_content { 
  overflow-y: scroll;
  position: relative;
  overflow-x: hidden;
  height:0px;
}

header h3 { margin:0; }

footer {
  background: #444;
  color: #fff;
  width: 100%;
  border-radius: 0px 0px 10px 10px;
  padding: 10px;
  box-sizing: border-box;
  position: relative;
  bottom: 0;
}

/* line 56, ../../app/assets/stylesheets/widget.css.scss */
.twcard {
  border-bottom: 1px solid #D8D8D8;
  padding: 10px;
  box-sizing: border-box;
  background: #fff; 
}

/* line 58, ../../app/assets/stylesheets/widget.css.scss */
.user_perfil {
  width: 30px;
  display: block;
  vertical-align: top;
  float: left;
}

/* line 59, ../../app/assets/stylesheets/widget.css.scss */
.user_perfil img {
  width: 100%;
}

/* line 60, ../../app/assets/stylesheets/widget.css.scss */
.user_name, .user_name_full {
  line-height: 14px;
  font-size: 12px;
  width: 80%;
  margin: 0px;
  margin-left: 10px;
  text-decoration: none;
  font-weight: bold;
  display: block;
  float: left;
  color: #444;
}

/* line 61, ../../app/assets/stylesheets/widget.css.scss */
.user_name:before {
  white-space: pre;
  content: "@";
}

/* line 62, ../../app/assets/stylesheets/widget.css.scss */
p.tweettext {
  margin: 5px auto;
  font-size: 13px;
  line-height: 18px;
  clear: both;
}

p.tweettext a { 
  color: #4689EC;
  text-decoration: inherit;
}
