<footer>
		<div class="container">
     <!-- <div class="thirteen columns ft_link">
					<ul>
						<li><span>Noistter 2014 Todos los derechos reservados</span></li>
						<li><span>//</span></li>
            <li><a href='#'><span>¿Qué es noistter?</span></a></li>
						<li><span>//</span></li>
						<li><a href='#'><span>Blog</span></a></li>
						<li><span>//</span></li>
						<li><a href='#'><span>Contacto</span></a></li>
            <li><span>//</span></li>
            <li> <a href="/privacidad">Privacidad</a></li>
					</ul>
			</div>
			<div class="three columns ft_link">
					<ul>
						<li><a class="twitter" href='https://twitter.com/noistter'><span>twitter</span></a></li>
						<li><a class="facebook" href='#'><span>facebook</span></a></li>
						<li><a class="googleplus" href='#'><span>google+</span></a></li>
					</ul>
			</div>
		</div>
     -->
		</div>
</footer>

<div class="overlay_tuitear">
      <div class="overlay_contenedor">
        <span class="close_tuitear">X</span>
        <p>Publica un nuevo Tweet...</p>
        <textarea class="texttweet" rows="20" maxlength="140" onload="contarCaracteres()" onchange="contarCaracteres()" onKeyUp="contarCaracteres()"></textarea>
        <span class="caracteres">140</span>
        <a href="#" class="btn btn_yellow" id="bt_send_tweet">Twittear</a>
        <div class="confirm_tweet"></div>
      <div>
</div>
            
            

<!-- End Document
================================================== -->
</body>
</html>