<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="ISO-8859-1">
	<title>Noistter -HOME PAGE</title>
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
  ================================================== -->
	<link rel="stylesheet" type="text/css" href="https://dl.dropboxusercontent.com/u/12328089/CSS/base.css">
	<link rel="stylesheet" type="text/css" href="https://dl.dropboxusercontent.com/u/12328089/CSS/skeleton.css">
  <link rel="stylesheet" type="text/css" href="https://dl.dropboxusercontent.com/u/12328089/CSS/noistter/layout.css">
  <%= stylesheet_link_tag "landpage", media: "all", "data-turbolinks-track" => true %>

	<!-- Favicons
	================================================== -->
	
	<!-- Scripts
	================================================== -->
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
	<link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

    <!-- CODIGO DE ANALYTICS -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-49710587-1', 'noistter.herokuapp.com');
    ga('send', 'pageview');

  </script>
  
</head>
<body class="nopadding">
	<header>
	<div class="container">
			<div class="six columns">
			</div>
			<nav class="ten columns">
					<ul>
						<li><a href='#noistter'><span>¿Qué es noistter?</span></a></li>
            <li><a href='http://blog.noistter.com'><span>Blog</span></a></li>
						<li><a href='#'><span>Contacto</span></a></li>
					</ul>
			</nav>
			
		</div>
	</header>